src/main/resources/PurchaseOrder.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.4">
	<xs:annotation>
		<xs:documentation>YBP Library Services Purchase Order API XSD</xs:documentation>
	</xs:annotation>
	<xs:simpleType name="BaseAccount">
		<xs:annotation>
			<xs:documentation>This number identifies the library in the YBP Systems</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1000"/>
			<xs:maxInclusive value="99999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SubAccount">
		<xs:annotation>
			<xs:documentation>This number identifies one of the library's relationships with YBP</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="100001"/>
			<xs:maxInclusive value="9999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BatchPONumber">
		<xs:annotation>
			<xs:documentation>This is the purchase order assigned to a batch of orders</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ItemPONumber">
		<xs:annotation>
			<xs:documentation>This is the purchase order for this individual item.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FundCode">
		<xs:annotation>
			<xs:documentation>The Fund Code assigned to this item in GOBI.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MappedFundCode">
		<xs:annotation>
			<xs:documentation>Longer Fund Code if the customer is mapping to larger fund codes.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OrderNotes">
		<xs:annotation>
			<xs:documentation>This is a notes field used to provide communications with YBP on the handling of this order.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="150"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OtherLocalId">
		<xs:annotation>
			<xs:documentation>Other Local Order Identifier</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Location">
		<xs:annotation>
			<xs:documentation>This is sometimes used as the shelving location or library identifier by the customer.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="25"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Currency">
		<xs:annotation>
			<xs:documentation>ISO 4217 Currency Code</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="3"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LD-Description">
		<xs:annotation>
			<xs:documentation>Description of the local data being provided.  Displays in GOBI as the label for this field.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LD-Value">
		<xs:annotation>
			<xs:documentation>The Local Data Value provided by the customer. Limited to 80 characters, but the customer can restrict this to a shorter length in GOBI.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="80"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Vendor-PO-Code">
		<xs:annotation>
			<xs:documentation>Five character vendor purchase option code.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PO-Code">
		<xs:annotation>
			<xs:documentation>Two character purchase option code.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PO-Description">
		<xs:annotation>
			<xs:documentation>Text description of the purchase option.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PO-VendorCode">
		<xs:annotation>
			<xs:documentation>Purchase Option Vendor Code.  Usually a 3 character value unique for each eBook vendor YBP works with.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StartWithVolume">
		<xs:annotation>
			<xs:documentation>When the order is a standing order for series this is an instruction to YBP as to which volume of the series to start with.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Initials">
		<xs:annotation>
			<xs:documentation>The initials of the person who submitted the order in GOBI.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="PurchaseOrder">
		<xs:annotation>
			<xs:documentation>This is the purchase order object that would be provided in the post</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CustomerDetail" minOccurs="1" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="BaseAccount" type="BaseAccount" minOccurs="1" maxOccurs="1"/>
							<xs:element name="SubAccount" type="SubAccount" minOccurs="1" maxOccurs="1"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Order" minOccurs="1" maxOccurs="1">
					<xs:complexType>
						<xs:choice>
							<xs:element name="ListedElectronicMonograph">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="collection">
											<xs:annotation>
												<xs:documentation>This is the MARC record object container.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="OrderDetail" minOccurs="1" maxOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="BatchPONumber" type="BatchPONumber" minOccurs="0" maxOccurs="1"/>
													<xs:element name="ItemPONumber" type="ItemPONumber" minOccurs="0" maxOccurs="1"/>
													<xs:element name="FundCode" type="FundCode" minOccurs="0" maxOccurs="1"/>
													<xs:element name="MappedFundCode" type="MappedFundCode" minOccurs="0" maxOccurs="1"/>
													<xs:element name="OrderNotes" type="OrderNotes" minOccurs="0" maxOccurs="1"/>
													<xs:element name="OtherLocalId" type="OtherLocalId" minOccurs="0" maxOccurs="1"/>
													<xs:element name="Location" type="Location" minOccurs="0" maxOccurs="1"/>
													<xs:element name="Quantity" type="xs:positiveInteger" minOccurs="1" maxOccurs="1"/>
													<xs:element name="YBPOrderKey" type="xs:positiveInteger" minOccurs="1" maxOccurs="1"/>
													<xs:element name="OrderPlaced" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
													<xs:element name="Initials" type="Initials" minOccurs="0" maxOccurs="1"/>
													<xs:element name="ListPrice" minOccurs="1" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Amount" type="xs:decimal" minOccurs="1" maxOccurs="1"/>
																<xs:element name="Currency" type="Currency" minOccurs="1" maxOccurs="1"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="LocalData" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Description" type="LD-Description" minOccurs="1" maxOccurs="1"/>
																<xs:element name="Value" type="LD-Value" minOccurs="1" maxOccurs="1"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="PurchaseOption" minOccurs="1" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="VendorPOCode" type="Vendor-PO-Code" minOccurs="1" maxOccurs="1"/>
																<xs:element name="Code" type="PO-Code" minOccurs="1" maxOccurs="1"/>
																<xs:element name="Description" type="PO-Description" minOccurs="1" maxOccurs="1"/>
																<xs:element name="VendorCode" type="PO-VendorCode" minOccurs="1" maxOccurs="1"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="ListedElectronicSerial">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="collection">
											<xs:annotation>
												<xs:documentation>This is the MARC record object container.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="OrderDetail" minOccurs="1" maxOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="BatchPONumber" type="BatchPONumber" minOccurs="0" maxOccurs="1"/>
													<xs:element name="ItemPONumber" type="ItemPONumber" minOccurs="0" maxOccurs="1"/>
													<xs:element name="FundCode" type="FundCode" minOccurs="0" maxOccurs="1"/>
													<xs:element name="MappedFundCode" type="MappedFundCode" minOccurs="0" maxOccurs="1"/>
													<xs:element name="OrderNotes" type="OrderNotes" minOccurs="0" maxOccurs="1"/>
													<xs:element name="Quantity" type="xs:positiveInteger" minOccurs="1" maxOccurs="1"/>
													<xs:element name="YBPOrderKey" type="xs:positiveInteger" minOccurs="1" maxOccurs="1"/>
													<xs:element name="OrderPlaced" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
													<xs:element name="Initials" type="Initials" minOccurs="0" maxOccurs="1"/>
													<xs:element name="ListPrice" minOccurs="1" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Amount" type="xs:decimal" minOccurs="1" maxOccurs="1"/>
																<xs:element name="Currency" type="Currency" minOccurs="1" maxOccurs="1"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="PurchaseOption" minOccurs="1" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="VendorPOCode" type="Vendor-PO-Code" minOccurs="1" maxOccurs="1"/>
																<xs:element name="Code" type="PO-Code" minOccurs="1" maxOccurs="1"/>
																<xs:element name="Description" type="PO-Description" minOccurs="1" maxOccurs="1"/>
																<xs:element name="VendorCode" type="PO-VendorCode" minOccurs="1" maxOccurs="1"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="ListedPrintMonograph">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="collection">
											<xs:annotation>
												<xs:documentation>This is the MARC record object container.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="OrderDetail" minOccurs="1" maxOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="BatchPONumber" type="BatchPONumber" minOccurs="0" maxOccurs="1"/>
													<xs:element name="ItemPONumber" type="ItemPONumber" minOccurs="0" maxOccurs="1"/>
													<xs:element name="FundCode" type="FundCode" minOccurs="0" maxOccurs="1"/>
													<xs:element name="MappedFundCode" type="MappedFundCode" minOccurs="0" maxOccurs="1"/>
													<xs:element name="OrderNotes" type="OrderNotes" minOccurs="0" maxOccurs="1"/>
													<xs:element name="OtherLocalId" type="OtherLocalId" minOccurs="0" maxOccurs="1"/>
													<xs:element name="Location" type="Location" minOccurs="0" maxOccurs="1"/>
													<xs:element name="Quantity" type="xs:positiveInteger" minOccurs="1" maxOccurs="1"/>
													<xs:element name="YBPOrderKey" type="xs:positiveInteger" minOccurs="1" maxOccurs="1"/>
													<xs:element name="OrderPlaced" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
													<xs:element name="Initials" type="Initials" minOccurs="0" maxOccurs="1"/>
													<xs:element name="ListPrice" minOccurs="1" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Amount" type="xs:decimal" minOccurs="1" maxOccurs="1"/>
																<xs:element name="Currency" type="Currency" minOccurs="1" maxOccurs="1"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="LocalData" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Description" type="LD-Description" minOccurs="1" maxOccurs="1"/>
																<xs:element name="Value" type="LD-Value" minOccurs="1" maxOccurs="1"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="ListedPrintSerial">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="collection">
											<xs:annotation>
												<xs:documentation>This is the MARC record object container.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="OrderDetail" minOccurs="1" maxOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="BatchPONumber" type="BatchPONumber" minOccurs="0" maxOccurs="1"/>
													<xs:element name="ItemPONumber" type="ItemPONumber" minOccurs="0" maxOccurs="1"/>
													<xs:element name="FundCode" type="FundCode" minOccurs="0" maxOccurs="1"/>
													<xs:element name="MappedFundCode" type="MappedFundCode" minOccurs="0" maxOccurs="1"/>
													<xs:element name="OrderNotes" type="OrderNotes" minOccurs="0" maxOccurs="1"/>
													<xs:element name="Quantity" type="xs:positiveInteger" minOccurs="1" maxOccurs="1"/>
													<xs:element name="YBPOrderKey" type="xs:positiveInteger" minOccurs="1" maxOccurs="1"/>
													<xs:element name="OrderPlaced" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
													<xs:element name="Initials" type="Initials" minOccurs="0" maxOccurs="1"/>
													<xs:element name="StartWithVolume" type="StartWithVolume" minOccurs="0" maxOccurs="1"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="UnlistedPrintMonograph">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="collection">
											<xs:annotation>
												<xs:documentation>This is the MARC record object container.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="OrderDetail" minOccurs="1" maxOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="BatchPONumber" type="BatchPONumber" minOccurs="0" maxOccurs="1"/>
													<xs:element name="ItemPONumber" type="ItemPONumber" minOccurs="0" maxOccurs="1"/>
													<xs:element name="FundCode" type="FundCode" minOccurs="0" maxOccurs="1"/>
													<xs:element name="MappedFundCode" type="MappedFundCode" minOccurs="0" maxOccurs="1"/>
													<xs:element name="OrderNotes" type="OrderNotes" minOccurs="0" maxOccurs="1"/>
													<xs:element name="OtherLocalId" type="OtherLocalId" minOccurs="0" maxOccurs="1"/>
													<xs:element name="Location" type="Location" minOccurs="0" maxOccurs="1"/>
													<xs:element name="Quantity" type="xs:positiveInteger" minOccurs="1" maxOccurs="1"/>
													<xs:element name="YBPOrderKey" type="xs:positiveInteger" minOccurs="1" maxOccurs="1"/>
													<xs:element name="OrderPlaced" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
													<xs:element name="Initials" type="Initials" minOccurs="0" maxOccurs="1"/>
													<xs:element name="ListPrice" minOccurs="0" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Amount" type="xs:decimal" minOccurs="1" maxOccurs="1"/>
																<xs:element name="Currency" type="Currency" minOccurs="1" maxOccurs="1"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="LocalData" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Description" type="LD-Description" minOccurs="1" maxOccurs="1"/>
																<xs:element name="Value" type="LD-Value" minOccurs="1" maxOccurs="1"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="UnlistedPrintSerial">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="collection">
											<xs:annotation>
												<xs:documentation>This is the MARC record object container.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="OrderDetail" minOccurs="1" maxOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="BatchPONumber" type="BatchPONumber" minOccurs="0" maxOccurs="1"/>
													<xs:element name="ItemPONumber" type="ItemPONumber" minOccurs="0" maxOccurs="1"/>
													<xs:element name="FundCode" type="FundCode" minOccurs="0" maxOccurs="1"/>
													<xs:element name="MappedFundCode" type="MappedFundCode" minOccurs="0" maxOccurs="1"/>
													<xs:element name="OrderNotes" type="OrderNotes" minOccurs="0" maxOccurs="1"/>
													<xs:element name="Quantity" type="xs:positiveInteger" minOccurs="1" maxOccurs="1"/>
													<xs:element name="YBPOrderKey" type="xs:positiveInteger" minOccurs="1" maxOccurs="1"/>
													<xs:element name="OrderPlaced" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
													<xs:element name="Initials" type="Initials" minOccurs="0" maxOccurs="1"/>
													<xs:element name="StartWithVolume" type="StartWithVolume" minOccurs="0" maxOccurs="1"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<!-- UnlistedElectronic not currently available from GOBI. -->
						</xs:choice>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
    <xs:element name="record" type="recordType" nillable="true" id="record.e">
    
        <xs:annotation>
      <xs:documentation>record is a top level container element for all of the field elements which compose the record</xs:documentation>
    </xs:annotation>
    </xs:element>
  <xs:element name="collection" type="collectionType" nillable="true" id="collection.e">
    
        <xs:annotation>
      <xs:documentation>collection is a top level container element for 0 or many records</xs:documentation>
    </xs:annotation>
    </xs:element>
  <xs:complexType name="collectionType" id="collection.ct">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="record" />
    </xs:sequence>
    <xs:attribute name="id" type="idDataType" use="optional" />
  </xs:complexType>
  <xs:complexType name="recordType" id="record.ct">
    <xs:sequence minOccurs="0">
      <xs:element name="leader" type="leaderFieldType" />
      <xs:element name="controlfield" type="controlFieldType" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="datafield" type="dataFieldType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="type" type="recordTypeType" use="optional" />
    <xs:attribute name="id" type="idDataType" use="optional" />
  </xs:complexType>
  <xs:simpleType name="recordTypeType" id="type.st">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="Bibliographic" />
      <xs:enumeration value="Authority" />
      <xs:enumeration value="Holdings" />
      <xs:enumeration value="Classification" />
      <xs:enumeration value="Community" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="leaderFieldType" id="leader.ct">
    <xs:annotation>
      <xs:documentation>MARC21 Leader, 24 bytes</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="leaderDataType">
        <xs:attribute name="id" type="idDataType" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="leaderDataType" id="leader.st">
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="preserve" />
      <xs:pattern value="[\d ]{5}[\dA-Za-z ]{1}[\dA-Za-z]{1}[\dA-Za-z ]{3}(2| )(2| )[\d ]{5}[\dA-Za-z ]{3}(4500|    )" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="controlFieldType" id="controlfield.ct">
    <xs:annotation>
      <xs:documentation>MARC21 Fields 001-009</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="controlDataType">
        <xs:attribute name="id" type="idDataType" use="optional" />
        <xs:attribute name="tag" type="controltagDataType" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="controlDataType" id="controlfield.st">
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="preserve" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="controltagDataType" id="controltag.st">
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="preserve" />
      <xs:pattern value="00[1-9A-Za-z]{1}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="dataFieldType" id="datafield.ct">
    <xs:annotation>
      <xs:documentation>MARC21 Variable Data Fields 010-999</xs:documentation>
    </xs:annotation>
    <xs:sequence maxOccurs="unbounded">
      <xs:element name="subfield" type="subfieldatafieldType" />
    </xs:sequence>
    <xs:attribute name="id" type="idDataType" use="optional" />
    <xs:attribute name="tag" type="tagDataType" use="required" />
    <xs:attribute name="ind1" type="indicatorDataType" use="required" />
    <xs:attribute name="ind2" type="indicatorDataType" use="required" />
  </xs:complexType>
  <xs:simpleType name="tagDataType" id="tag.st">
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="preserve" />
      <xs:pattern value="(0([1-9A-Z][0-9A-Z])|0([1-9a-z][0-9a-z]))|(([1-9A-Z][0-9A-Z]{2})|([1-9a-z][0-9a-z]{2}))" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="indicatorDataType" id="ind.st">
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="preserve" />
      <xs:pattern value="[\da-z ]{1}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="subfieldatafieldType" id="subfield.ct">
    <xs:simpleContent>
      <xs:extension base="subfieldDataType">
        <xs:attribute name="id" type="idDataType" use="optional" />
        <xs:attribute name="code" type="subfieldcodeDataType" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="subfieldDataType" id="subfield.st">
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="preserve" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="subfieldcodeDataType" id="code.st">
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="preserve" />
      <xs:pattern value="[\dA-Za-z!&quot;#$%&amp;'()*+,-./:;&lt;=&gt;?{}_^`~\[\]\\]{1}" />
      <!-- "A-Z" added after "\d" May 21, 2009 -->
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="idDataType" id="id.st">
    <xs:restriction base="xs:ID" />
  </xs:simpleType>
</xs:schema>
